---
import { Picture } from 'astro:assets';

import Layout from '~/layouts/PageLayout.astro';

import CallToAction from '~/components/widgets/CallToAction.astro';
import Note from '~/components/widgets/Note.astro';
import BannerTitle from '~/components/widgets/BannerTitle.astro';
import BannerSubtitle from '~/components/widgets/BannerSubtitle.astro';
import aboutImage from '~/assets/images/about.png';

const meta = {
  title: "Princiya Sequeira: Engineering Leader and an expert in strategy",
  description: "Senior Engineering Manager, 12+ years in full-stack, web/mobile, CI/CD, and infrastructure.",
};
---

<Layout {meta}>
  <!-- Hero2 Widget ******************* -->

  <section class="relative">
    <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
      <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
      <div class="py-12 md:py-20 lg:py-0 lg:flex lg:items-center lg:gap-8">
        <div class="text-center lg:text-left pb-10 md:pb-16 mx-auto">
          <div class="max-w-3xl mx-auto lg:max-w-none overflow-scroll">
            <div class="relative m-auto max-w-5xl">
              <Picture
                src={aboutImage}
                class="max-w-full lg:max-w-6xl mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
                widths={[400, 900]}
                sizes="(max-width: 900px) 400px, 900px"
                alt="Princiya Sequeira - Engineering Leader, Speaker and Mentor"
                loading="eager"
                aspectRatio={16 / 9}
                width={900}
                height={506}
                loading="eager"
                decoding="async"
                background={undefined}
              />
            </div>

            <div
              class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
            >
              <BannerTitle>
                <Fragment slot="title">
                  Hi, I am
                  <span class="text-accent dark:text-white highlight"> Princiya!</span>
                </Fragment>
              </BannerTitle> 

              <BannerSubtitle>
                <Fragment slot="subtitle">
                  <span class="hidden sm:inline">
                    I love food and Javascript. And now I am getting Pythonised.
                  </span>
                </Fragment>
              </BannerSubtitle> 

              <hr/>

              <p class="mt-10">As an experienced leader, I possess excellent communication skills and have managed technical teams, promoting collaboration and productivity. With proficiency in programming, I bring over 12 years of experience in full-stack web and mobile development, CI/CD implementation, and infrastructure support.</p>
              <p>In the course of my professional journey, I have developed a strong skill set that has been instrumental in my success. My primary strengths encompass Strategy, Relationship-building, Achievement, Learning, and Responsibility.</p>
              <p>I write blog posts on technical subjects, mentorship, engineering leadership, and management.</p>

              <h3>Work</h3> 
              <p>
                I work as an Engineering Manager at Anaconda on its enterprise product - Anaconda Server.
                During 2021-22, I also spent my time with the women who code community as a Leadership Fellow on the wwcode frontend technical track.
              </p> 
              <p>
                In my previous role, I was the Head of Frontend Engineering at Curalie GmbH in Berlin. With over 12 years of experience in the web development field, I have gained extensive knowledge in full-stack web and mobile app development, including dev-ops tasks, UX responsibilities, and mentoring team members. Additionally, I have experience working with IoT, VR/AR, data visualizations, and machine learning.  
              </p>

              <h3>Opensource</h3> 
              <p>I have contributed to and maintained Lightbeam, a browser extension that visualizes first and third-party trackers. Additionally, I served as a community maintainer for the Firefox Developer Tools Debugger project.</p>
              <p>As a Software Developer coach at Raise.dev and MLH Fellowship, I guided undergraduates in contributing to open-source projects, provided career advice, and prepared them for internships or full-time jobs in Software Engineering. Through this program, I mentored open-source contributors to popular repositories such as React Native Core, AWS Amplify, and Slate.js.</p>
              
              <h3>Community</h3>
              <p>I have been presenting at international conferences since 2015 on web frontend-related topics. I write about my journey into an engineering leadership role and addressing technical challenges. Prior to the COVID-19 pandemic, I volunteered my time in co-organizing the Berlin Critical Tech Meetup, reviewing diversity scholarship applications for JSConfEU and React India conferences, and co-hosting the bi-weekly Diversity & Inclusion community and contributor calls. Additionally, I have participated in the mentorship program for the Node.js Diagnostics Working Group and the Open Source Maintainer Leadership program from Mozilla.</p>

              <h3>Summary</h3>
              <p>I possess expertise in various technologies such as React, Node.js, and Python, along with empathetic leadership, strong communication, and strategic thinking skills, while also being able to translate technical jargon into meaningful cartoons and mental models.</p>
            </div> 
          </div>  
        </div>
       
      </div>
    </div>
  </section>
  
  <Note />

  <CallToAction
    callToAction={{
      text: 'Blog',
      href: '/blog',
      icon: 'tabler:pencil',
    }}
  >
    <Fragment slot="title">
      Princiya Sequeira
    </Fragment>

    <Fragment slot="subtitle">
      I write blog posts on technical subjects, mentorship, engineering leadership, and management.
    </Fragment>
  </CallToAction>

</Layout>
