---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <!-- <Hero
    callToAction={{ text: 'Get template', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:download' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  > -->
  <Hero
    callToAction2={{ text: 'Read more...', href: '/about' }}
    showSocialLinks
  >
    <Fragment slot="title">
      Hi, I am
      <span class="text-accent dark:text-white highlight"> Princiya!</span>
    </Fragment>

   <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        I love food and Javascript. And now I am getting Pythonised.
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight="Accomplishments"
    title="Around the Web"
    subtitle="Things I am proud of"
    items={[
      [
        {
          title: 'WWCode Connect Recharge 2022 Keynote',
          description:
            'Presented a Keynote at Women Who Code Connect Recharge 2022 on the topic - Reset and Recharge: Humans need it too just like devices!',
          icon: 'tabler:microphone',
        },
        {
          title: 'Featured in Forbes',
          description:
            'The Wisdom Of Women Leaders As They Forge The Post Pandemic Future',
          icon: 'tabler:news',
        },
        {
          title: '100 Women in Tech',
          description:
            'AgileTD Zone published a list of 100 Women in Tech to Follow and Learn from',
          icon: 'tabler:woman',
        },
      ],
      [
        {
          title: 'PrototypeFund.de 2018 Fellow',
          description:
            'PrototypeFund.de 2018 Fellow for Lightbeam to visualise first and third party website trackers.',
          icon: 'tabler:school',
        },
        {
          title: 'FreeCodeCamp Interview',
          description:
            'Abbey from FreeCodeCamp podcast chats with developer and wearer of many hats Princiya about how she changed careers, moved to Berlin, and worked her way up to a lead role.',
          icon: 'tabler:brand-spotify',
        },
        {
          title: 'Young Leader of the Year 2019',
          description:
            'Top 10 - Women in IT Awards, Europe',
          icon: 'tabler:trophy',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight="Contributions to"
    title="Open Source"
    items={[
      {
        title: 'Lightbeam',
        description:
          'I have contributed to and maintained Lightbeam, a browser extension that visualizes first and third-party trackers.',
      },
      {
        title: 'Firefox Developer Tools Debugger',
        description:
          'I served as a community maintainer for the Firefox Developer Tools Debugger project.',
      },
      {
        title: 'Software Developer coach at Raise.dev and MLH Fellowship',
        description:
          'I guided undergraduates in contributing to open-source projects, provided career advice, and prepared them for internships or full-time jobs in Software Engineering. Through this program, I mentored open-source contributors to popular repositories such as React Native Core, AWS Amplify, and Slate.js.',
      },
    ]}
    youtube="sINIM0QX2Y8"
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">My Open Source journey</h3>
      I got into open source through the Outreachy program. Read my blog posts on the Open Source topic.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('~/assets/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  /> -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Community Work"
    items={[
      {
        title: 'Women Who Code Leadership Fellow for Frontend 2021 - 22',
        description:
          'Between 2021 and 2022, I also dedicated my time to the Women Who Code community as a Leadership Fellow, specifically within the WWCode frontend technical track.',
        icon: 'tabler:school',
      },
      {
        title: 'International conference speaker since 2015',
        description:
          'I have been presenting at international conferences since 2015 on web frontend-related topics.',
        icon: 'tabler:microphone-2',
      },
      {
        title: 'Meetups and community programs',
        description:
          'Prior to the COVID-19 pandemic, I volunteered my time in co-organizing the Berlin Critical Tech Meetup, reviewing diversity scholarship applications for JSConfEU and React India conferences, and co-hosting the bi-weekly Diversity & Inclusion community and contributor calls. Additionally, I have participated in the mentorship program for the Node.js Diagnostics Working Group and the Open Source Maintainer Leadership program from Mozilla.',
        icon: 'tabler:users',
      }
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Find out more content in my Blog"
    information={`I write blog posts on technical subjects, mentorship, engineering leadership, and management.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.",
        },
        {
          question: "What's something that you don't understand?",
          answer:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
      ],
      [
        {
          question: "What's an example of when you changed your mind?",
          answer:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
          question: 'What is something that you would like to try again?',
          answer:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
          question: 'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
      ],
    ]}
  /> -->
</Layout>
